:root {
  --main-color: #eaa023;
  --dark: #0c1023;
  --dark-light: #191f3a;
  --white: #ffffff;
  --white-light:#c8c8c8;
  --shadow: 0 0 15px rgba(0,0,0,0.25);
  --cursive-font: cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: var(--white-light);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}


.section-padding {
    padding: 80px 0;
  }
  .section-title {
    width: 100%;
    text-align: center;
    padding: 6px 0;
  }
  .section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
  }
  .section-title h2::before {
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--main-color);
    font-family: var(--cursive-font);
    font-weight: 400;
  }
  .btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 30px;
  }

/*Header*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--dark-light);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.5s ease;
  }
  .header.sticky::before {
    transform: translateY(0%);
  }

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.header-padding{
    padding: 12px 0;
}
.nav-toggler {
  width: 44px;
  height: 34px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-toggler.active {
  position: absolute ;
  z-index: 1;
  right: 0;
  transition: all 0.5s ease;
  transform: translateX(-200px);
}
.nav-toggler.active span {
  background-color: transparent;
}
.nav-toggler.active span::before {
  transform: rotate(135deg);
}
.nav-toggler.active span::after {
  transform: rotate(-135deg);
}
.nav-toggler span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: var(--main-color);
  position: relative;
}
.nav-toggler span::before {
  display: block;
  content:"";
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(-8px);
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.nav-toggler span::after {
  display: block;
  content:"";
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(8px);
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  height: 100%;
  background-color:var(--dark-light);
  padding: 80px 30px 40px;
  transition: 0.5s ease;
  transform: translateX(100%);
}
.nav.open {
  transform: translateX(0%);
}
.nav ul li a {
  color: var(--white);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition:  0.3s ease;
}
.nav ul li a:hover {
  color: var(--main-color);
}
.nav ul li {
  margin-bottom: 10px;
}

/*About*/
.about-section {
  background-color: var(--dark-light);
}
.about-img, .about-text {
  width: 50%;
  padding: 15px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.about-text p {
  margin: 0 0 15px;
}
.about-img .img-box img {
  width: 100%;
  border-radius: 10px;
}
.img-box {
  position: relative;
}
.img-box h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  transform: translate(-50%, -50%);
  font-family: var(--cursive-font);
  font-weight: 600;
  color: var(--dark);
}
@keyframes Quay {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.img-box::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid var(--main-color);
  top: calc(50% - 50px);
  left:calc(50% - 50px);
  animation: Quay 10s infinite;
}
/*Skills*/
.skills-section {
  background-color: var(--dark);
}
.skills-taps {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
.skills-taps .skills-tap-item {
  background: transparent;
  border: none;
  padding: 0px 15px ;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}
.skills-taps .skills-tap-item:hover {
  color: var(--main-color);
}
.skills-taps .skills-tap-item.active {
  color: var(--main-color);
}
.skills-item {
  width: calc(100%/2);
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;
  position: relative;
}
.skills-tap-content .skills-item:hover .skills-item-mark {
  color: var(--white);
}
.skills-tap-content .skills-item:hover h3{
  color: var(--main-color);
}
.skills-tap-content .skills-item::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 15px;
  right: 15px;
  border: 1px dashed var(--dark-light);
}
.skills-item .skills-item-title {
  display: flex;
  align-items: center;
}
.skills-item .skills-item-title img {
  max-width: 100x;
  margin-right: 15px;
}
.skills-item .skills-item-title h3 {
  font-size: 16px;
  transition: all 0.5s ease;
  text-transform: capitalize;
}
.skills-item .skills-item-mark {
  font-size: 16px;
  color: var(--main-color);
  transition: all 0.5s ease;
}
.skills-tap-content {
  display: none;
}
.skills-tap-content.active{
  display: flex;
}

/*Experience*/
/*Interests*/
/*Footer*/